/* .container{
  height: 15vh;
}

.main-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.form-container {
  width: 60%;
  padding: 0px 100px;
}

.application-form {
  padding: 0px;
}

.heading-3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 50px;
  align-items: center;
}

.text {
  text-align: center;
}

.image-container {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 55px 
}

.side-image {
  width: 80%;
  height: auto;
  border-radius: 4px;
  justify-content: center;
  width: 60%;
}

.date-divider {
  font-size: 13px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  align-items: center;
  margin: 10px 0px;
}

.date-divider::before, .date-divider::after {
  flex: 1;
  content: '';
  padding: .6px;
  background: #000;
  background-color: rgb(165, 163, 163);
  margin: 5px;
}

.date-divider span {
  padding: 0 10px;
  background-color: rgb(73, 72, 72);
  color: #fff;
  border-radius: 4px;

}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.input-field-div{
  display:flex;
  flex-direction: row;
  align-items: center;

}
.select-input {
  width: 99%;
}

.submit-button{
  width: 99%;
}

@media (max-width: 1000px) {
  .main-form-container {
    flex-direction: column;
    align-items: center;
  }

  .side-image {
    display: none; 
  }

  .form-container {
    width: 80%;
    padding: 0px;
    text-align: center; 
  }

  .heading-3{
    padding: 1px;
  }

  .text{
    font-size: smaller;  }

  .image-container {
    padding-top: 100px;
    width: 80%;
    align-items: center;
  }

  .submit-button{
    width: 96%;
  }
  

  .application-form {
    display: flex;
    flex-direction: column;
  }

  .select-input{
    width: 95%;
  }
} */

.full-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menubar-container{
  height: 15vh;
}

.main-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 83vh;
}

.form-container {
  width: 60%;
  padding: 0px 100px;
}

.application-form {
  padding: 0px;
}

.heading-3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 50px;
  align-items: center;
}

.text {
  text-align: center;
}

.img-container {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
  height: 83vh;
}

.side-image {
  height: auto;
  border-radius: 4px;
  justify-content: center;
  width: 60%;
}

/* .select-input {
  width: 85%;
} */

/* .text-input{
  width:85%;
} */


.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.input-field-div{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.mb-3{
  margin: 10px;
  width: 85% !important;
}

.mb-3.error {
  border: 1px solid red !important; 
  border-radius: 4px !important;
} 

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

@media (max-width: 1000px) {
  .main-form-container {
    flex-direction: column;
    align-items: center;
  }

  .side-image {
    display: none; 
  }

  .form-container {
    width: 80%;
    padding: 0px;
    text-align: center; 
  }

  .heading-3{
    padding: 1px;
  }

  .text{
    font-size: smaller;  }

  .image-container {
    padding-top: 100px;
    width: 80%;
    align-items: center;
  }

  .submit-button{
    width: 96%;
  }
  

  .application-form {
    display: flex;
    flex-direction: column;
  }

}