.custom-button {
  background-color:  hsl(291, 47%, 60%) !important; 
  border: none !important;
  margin: 10px;
  width: 85%;
  padding: 10px !important;
  
}

.custom-button:hover {
  background-color: #A05B9D !important;
}
