/* .custom-button {
  width: fit-content;
  background-color: #A05B9D; 
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none; 
  color: #fff; 
  justify-content: center;
}

.custom-button:hover {
  background-color: #ac34a6;
}


.custom-button,
.custom-button:hover,
.custom-button:active,
.custom-button:visited {
  text-decoration: none;
  color: #fff; 
}


@media (max-width: 1000px) {
  .custom-button {
    height: auto; 
    box-sizing: border-box;
  }
} */

.custom-button {
  background-color:  hsl(291, 47%, 60%) !important; 
  border: none !important;
  margin: 10px;
  width: 85%;
  padding: 10px !important;
  
}

.custom-button:hover {
  background-color: #A05B9D !important;
}