.custom-input {
  padding: 15px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  width: 95%;
}

.custom-input:focus {
  border-color: #ba68c8;
}

/* Additional Styles to Reset Anchor Styles */
.custom-input,
.custom-input:focus,
.custom-input:active {
  outline: none;
}

.custom-input select {
  border-radius: 0;
  width: 90%;
}
.date-divider {
  font-size: 12px;
  display: flex;
  align-items: center;
}
.date-divider::before,
.date-divider::after {
  flex: 1;
  content: "";
  padding: 0.3px;
  background-color: rgb(92, 92, 92);
  margin: 5px;
}
.date-divider span {
  padding: 5px 10px;
  border: 1.6px solid rgb(92, 92, 92);
  border-radius: 5px;
  background-color: rgb(92, 92, 92);
  color: white;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 5px;
    
}

/* Media Query for Mobile Responsive */
@media (max-width: 1000px) {
  .custom-input {
    /* max-width: calc(50% - 50px); */
    width: 95%;
    box-sizing: border-box;
  }
}
