.container {
  height: 15vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.welcome-heading{
  font-size: 2em;
  text-align: center;
}

.dashboard-tile {
  border: none;
  width: 200px;
  height: 200px;
}

.dashboard-tile img {
  width: 100%; 
  height: auto; 
  border-radius: 4px; 
}

@media (max-width: 1500px) {
  .main-container {
    flex-direction: column; 
    /* align-items: stretch;  */
    height: auto; 
  }

  .dashboard-tile {
    width: 100%; 
    max-width: none; 
    margin: 5px 0; 
    height: auto;
  }
}

@media (max-width: 500px){
  .welcome-heading{
    font-size: 1em;
  }
}